@import "tailwindcss";

button, button * {
    cursor: pointer;
}

@layer components {
    .input-box {
        @apply 
            w-full min-h-[40px] max-h-[40px] h-[40px] 
            px-4 py-1
            flex gap-x-2 items-center
            bg-neutral-900 border border-neutral-800 rounded-md has-[:focus]:bg-neutral-800 has-[:focus]:border-neutral-700 shadow
    }

    .input {
        @apply 
            w-full h-full
            outline-none
            text-sm text-white
    }

    .input-placeholder {
        @apply
            placeholder:text-neutral-500 
            placeholder:tracking-wide
    }

    p, label, span {
        @apply
            text-neutral-500/75
    }
}